* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.mt-8px {
    margin-top: 8px;
}
.mt-16px {
    margin-top: 16px;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.col-third {
    width: 33.33333%;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;

}
.col-half {
    width: 50%;
}
.col-full { 
    width: 100%;
}
/* main */

/* Dùng lại nhiều lần  */
.clear {
    clear: both;
}
.white-text {
    color: white;
}
.text-center {
    text-align: center;
}

#header {
    position: fixed;
    right: 0;;
    top: 0;
    left: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav, .subnav {
    list-style-type: none;
}
#nav > li > a {
    color: white;
    text-transform: uppercase;
    
}

#nav  li  a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}
#nav > li {
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav .subnav li:hover a,
#nav > li:hover >a {
    background-color: #ccc;
    color: black;
    display: block;
}
#nav {
    display: inline-block;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav {
    display: block;
} 

#nav .subnav a {
    color: #000;
    padding-left: 12px;
    line-height: 38px;
}
#nav .arrow-down {
    font-size: 14px;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
}
#header .mobile-menu-btn,
#header .search-button {
    float: right;
    padding: 0 21px;
}

#header .input-search {
    float: right;
    line-height: 46px;
    display: none;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
    color: #333;
}
#header .search-button:hover {
    background-color: #f44336;
    cursor: pointer;
}
#header .menu-button {
    display: none;
}
#header .menu-button,
#header .search-btn {
    color: white;
    font-size: 20px;
    line-height: 46px;
    list-style: none;
}
#slider {
    margin-top: 46px;
    position: relative;
    
}
#slider img {
    width: 100%;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    width: 100%;
    text-align: center;
    color: white;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
};

#slider .text-despription {
    font-size: 15px;
    text-shadow: 0 0 1px #000;
}
/* Content section */

#content .content-section{
    padding: 64px 0 112px;
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading {
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    margin-bottom: 15px;
}
#content .section-about {
    text-align: justify;
    line-height: 1.4;
    font-size: 15px;
    letter-spacing: 0; 
}
#content .member-item {
    padding-top: 48px;
}

#content .name {
    margin-bottom: 15px;
    font-size: 15px;
}
#content .member-img {
    width: 154px;
    border-radius: 4px;
}

/* tour section */
.tour-section {
    background-color: #000;
}
.ticket-list {
    margin-top: 40px;
    background-color: white;
}
.ticket-list li {
    font-size: 15px;
    list-style-type: none;
    color: black;
    border: 1px solid #ddd;
    padding: 8px 16px;
}
.ticket-list .sold-out {
    background-color: #f44336;
    padding: 3px 8px;
    margin-left: 16px;
    color: white;
}
.ticket-list .ticket-number {
    float: right;
    background-color: black;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: white;
    padding: 0 8px;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
} 
.place-lists{
    margin-top: 32px;
}

/* selector sai khá nhiều  */
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: white;
    color:#000;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-weight: 600;
}
.place-time{
    margin-top: 16px;
    opacity: 0.6;
}
.place-desc{
    margin-top: 15px;
}
.buy-ticket{
    margin-top: 15px;
    text-decoration: none;
    display: inline-block;
    background-color: black;
    padding: 8px 16px; 
    color: white;
    border: none;
    appearance: none;
    -webkit-appearance: none;
}
.buy-ticket:hover {
    background-color: #ccc;
    color:black;
    cursor: pointer;
}
/* Contact section */
.contact-content {
    margin-top: 48px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.5;
    
}
.contact-info a{
    color: #004ff2;
    opacity: 0.8;
}
.contact-info a:hover{
    color: #004ff2;
    opacity: 1;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
}
.contact-form .form-control {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}
.form-submit {
    padding: 10px 18px;
    background-color: black;
    color: #fff;
    font-size: 15px;
    float: right;
}
.form-submit:hover {
    background-color: #ccc;
    color: black;
    border: none;
    cursor: pointer;
}
#footer img{
    max-width: 100%;
    height: auto;
}
/* Map section */
.map-section img{
    width: 100%;
}
/* footer section */
#footer {
    padding: 64px 16px;
}
#footer .icon {
    justify-content: center;
    text-align: center; 
    font-size: 21px;
}
#footer .icon a {
    opacity: 0.6;
    color: black;
    text-decoration: none;
}
#footer .icon i:hover {
    opacity: 0.6;
}
#footer .author {
    opacity: 0.6;
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
}
#footer .author a {
    color: black;
}
/* modal css */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
    animation: modalFadeIn ease 0.5s;
}
.modal-container {
    background-color: white;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
}
.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}
.modal-header i {
    margin-right: 16px;
}
.modal-close {
    /* thuộc tính absolute phải có thằng cha để kế thừa */
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    color: #fff;
}
.modal-close:hover {
    background-color: #ccc;
    color: #333;
    cursor: pointer;
} 
.modal-body {
    margin: 0 16px;
}
.modal-label {
    /* Thuộc tính display: value dùng cho từng thành phần cụ thể
    , chứ không phải dùng cho thẻ cha chứa nó */
    display: block;
    font-size: 15px;
    margin: 15px 0;
}
.modal-input {
    padding: 8px;
    width: 100%;
    margin-top: -8px;
}
.modal-button {
    border: none;
    width: 100%;
    margin: 16px 0;
    padding: 16px;
    background-color: #009688;
    font-weight: 800;
    color:white;
}
.modal-button:hover {
    background-color: #ccc;
    color: #333;
    cursor: pointer;
}
footer {
    font-size: 15px;
    margin: 16px;
    text-align: right;
}
footer a {
    color: #2196F3;
}
.modal.open {
    display: flex;
}
@keyframes modalFadeIn {
    from {
        transform: translateY(-140px);
        opacity: 0.4;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
/* responsive  Mobile < 740 px*/